[run]
branch = True

[paths]
source =
    oraculoicms_app
    xml_parser
    /workspace/oraculoicms_app
    /var/lib/jenkins/workspace/Oraculo_ICMS_env_TEST/oraculoicms_app
omit =
    */migrations/*
    */wsgi.py
    */__init__.py:if __init__ only does imports
    */templates/*
    */static/*
    */tests/*
    */venv/*
    */.venv/*
    */site-packages/*

[report]
omit =
    **/migrations/**
    **/tests/**
show_missing = True
skip_covered = False
precision = 1
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[html]
directory = htmlcov
